<!DOCTYPE html>
<html lang="en-us">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta name="robots" content="Index,Follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <title>Piyenji</title>
    <link rel="canonical" href="http://www.piyenji.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Piyenji, stickers, ios, iphone, art, gallery, magazine" >
    <meta name="description" content="Piyenji is the first curated iMessage gallery for digital art, showcasing small collections of work from artists, animators, and illustrators!">

    <!--FACEBOOK-->
    <meta property="og:title" content="Piyenji" >
    <meta property="og:site_name" content="">
    <meta property="og:url" content="http://www.piyenji.com" >
    <meta property="og:description" content="Piyenji is the first curated iMessage gallery for digital art, showcasing small collections of work from artists, animators, and illustrators!" >
    <meta property="og:image" content="/images/share-image.png" >
    <meta property="og:type" content="website" >
    <meta property="og:locale" content="en_US" >

    <!--TWITTER-->
    <meta property="twitter:card" content="summary" >
    <meta property="twitter:title" content="Piyenji" >
    <meta property="twitter:description" content="Piyenji is the first curated iMessage gallery for digital art, showcasing small collections of work from artists, animators, and illustrators!" >
    <meta property="twitter:creator" content="@hellovelocity" >
    <meta property="twitter:url" content="http://www.piyenji.com" >
    <meta property="twitter:image" content="/images/share-image.png" >

		<!-- add bootstrap stylesheets -->
  	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  	
  	<!-- add google fonts -->
  	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  	<!-- add font-awesome -->
  	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  
		<!-- add custom stylesheets -->
		<link rel="stylesheet" href="stylesheets/style.css">
		<% if (mobile == "true") { %>
	  <link rel="stylesheet" href="stylesheets/m_style.css">
	  <% } %>
	
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-57531666-14', 'auto');
		  ga('send', 'pageview');
		
		</script>
	</head>

	<body>
		<% if (mobile != "true") { %>
			<script>mobile = false;</script>
		<% } else { %>
			<script>mobile = true;</script>
		<% } %>
		<!-- load jquery minified js -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<!-- load bootstrap minified js -->
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		
		<% if (mobile != "true") { %>
		<img id="iphone" src="/images/iphone.png">
		<iframe id="video" src="https://www.youtube.com/embed/S1jBSUMuOJg?playlist=S1jBSUMuOJg&rel=0&controls=0&showinfo=0&autoplay=1&loop=1" frameborder="0" volume="0" allowfullscreen></iframe>
		<div id="overlay"></div>
		<!--<img id="hv-logo" src="images/hv-logo.png">-->
		<div id="video-mode"><i class="fa fa-camera" aria-hidden="true"></i></div>
		<div id="hv-credits">piyenji created by <a href="http://www.hellovelocity.com" target="_blank">&copy;Hello Velocity 2017</a></div>
		<% } %>
		
		<div id="master-screen">
			
			<% if (mobile != "true") { %>
			<div id="video-screen" class="screen">
				<div id="video-phone-info" style="padding-top:2px;">
					<div id="video-time"></div>
					<div id="video-battery" style="padding-right:5px;">
						<img src="/images/battery-white.png" height="10px" style="margin-top:-2px;padding-right:4px;">	
					</div>
					<div id="video-signal" style="padding-left:8px;">
						<div class="video-signal-circle fill"></div>
						<div class="video-signal-circle fill"></div>
						<div class="video-signal-circle fill"></div>
						<div class="video-signal-circle"></div>
						<div class="video-signal-circle"></div>
					</div>
				</div>
				<div id="video-footer"> 
					<div id="video-record">
						<div id="video-record-button"></div>
					</div>
				</div>
			</div>
			<% } %>
			
			<div id="convo-screen" class="screen active" style="overflow-y:scroll !important;">
				<div id="convo">
					
					<div class="bubble-set">
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">Hey QT <3</div>
						</div>
					</div>
					
					<div class="bubble-set">
						<div class="bubble-container to-container">
							<div class="tobubble bubble">Who dis??</div>
						</div>		
					</div>
					
					<div class="bubble-set">
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">It's me! Piyenji</div>
						</div>
					</div>
						
					<div class="bubble-set">
						<div class="bubble-container to-container">
							<div class="tobubble bubble">??? Pee Yen what?</div>
						</div>		
					</div>			
						
					<div class="bubble-set">
						<div class="bubble-container from-container">
							<div class="inline-sticker"><img src="/images/piyenji-logo.png" height="120px"></div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">(/Pee-En-Jee/) - I am an iOS sticker gallery that showcases small collections of work from artists, animators, and illustrators!</div>
						</div>
					</div>		
					
					<div class="bubble-set">
						<div class="bubble-container to-container">
							<div class="tobubble bubble">Awesome!</div>
						</div>		
						<div class="bubble-container to-container">
							<div class="tobubble bubble">Where do I download?</div>
						</div>
					</div>			
								
					<div class="bubble-set">
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">Right here! 😃 </div>
						</div>
						<div class="bubble-container from-container">
							<div class="inline-sticker"><a href="https://itunes.apple.com/us/app/piyenji-sticker-gallery/id1233637881?mt=8" target="_blank"><img src="/images/appstore.png" height="80px"></a></div>
						</div>
					</div>
					
					<div class="bubble-set">
						<div class="bubble-container to-container">
							<div class="tobubble bubble">Who are the featured artists right now?</div>
						</div>
					</div>
					
					<div class="bubble-set">
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">We're featuring 3 artists rn.</div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">@digijing  ⬇️ 👀</div>
						</div>
						<div class="bubble-container from-container">
							<div class="inline-sticker"><img src="/images/digijing-haha.gif" width="150px"></div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">@JamesOrlando ⬇️ 👀</div>
						</div>
						<div class="bubble-container from-container">
							<div class="inline-sticker"><img src="/images/james-ssh.png" height="150px"></div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">@HE+HU ⬇️ 👀</div>
						</div>
						<div class="bubble-container from-container">
							<div class="inline-sticker"><img src="/images/hehu-chick-melon.gif" height="150px"></div>
						</div>
					</div>
						
					<div class="bubble-set">
						<div class="bubble-container to-container">
							<div class="tobubble bubble">Is it free too?</div>
						</div>
					</div>		
					
					<div class="bubble-set">
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">Yeah! But if you are feeling thankful you can hit up these bbs on Venmo →</div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble "><a href="https://venmo.com/digijing" target="_blank">@digijing</a></div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble "><a href="https://venmo.com/James-Orlando-1" target="_blank">@James-Orlando-1</a></div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble "><a href="https://venmo.com/hewei09" target="_blank">@hewei09</a></div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">💵 💰 🤑 ♥️ </div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">give them your 2c for their 2c!</div>
						</div>
					</div>		
					
					<div class="bubble-set">
						<div class="bubble-container to-container">
							<div class="tobubble bubble">Who curates Piyenji?</div>
						</div>
					</div>		
									
					<div class="bubble-set">
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">Piyenji is created and curated by Hello Velocity!</div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">If you would like to pitch a collection concept email us at <a href="mailto:friend@hellovelocity.com" target="_blank">friend@hellovelocity.com</a></div>
						</div>
					</div>		
					
					<div class="bubble-set">
						<div class="bubble-container to-container">
							<div class="tobubble bubble">👍👍👍 </div>
						</div>
						<div class="bubble-container to-container">
							<div class="tobubble bubble">...</div>
						</div>
						<div class="bubble-container to-container">
							<div class="tobubble bubble">HALP... i can't figure out how to use stickers?!</div>
						</div>
					</div>		
						
					<div class="bubble-set">
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">haha, I will show you!  ⬇️ 👀 </div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">
								click this first:
								<br>
								<img src="/images/instruction1.jpg" width="100%" style="margin-top:5px;margin-bottom:5px;">
								<br>
							</div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">
								then you've gotta click this:
								<br>
								<img src="/images/instruction2.jpg" width="100%" style="margin-top:5px;margin-bottom:5px;">
								<br>
							</div>
						</div>
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">
								and there it is :)
								<br>
								<img src="/images/instruction3.jpg" width="100%" style="margin-top:5px;margin-bottom:5px;">
								<br>
							</div>
						</div>
					</div>
					
					<div class="bubble-set">
						<div class="bubble-container to-container">
							<div class="tobubble bubble">thx <3 </div>
						</div>
					</div>	
					
					<div class="bubble-set">
						<div class="bubble-container from-container">
							<div class="frombubble bubble ">BTW, we also sell lenticular prints of these stickers. So drop us an <a href="mailto:friend@hellovelocity.com">email</a> if you would like to check them out!</div>
						</div>
					</div>
					
					<% if (mobile == "true") { %>
					<!-- if safari! -->
					<br><br>
					<% } %>
					
				</div>
			</div>
				
			<div id="menu-screen" class="screen" style="z-index:105;">
				<div id="screen-header">
					<div id="phone-info" style="padding-top:2px;">
						<div id="time"></div>
						<div id="battery" style="padding-right:5px;">
							<img src="/images/battery-black.png" height="10px" style="margin-top:-2px;">	
						</div>
						<div id="signal" style="padding-left:5px;">
							<div class="signal-circle fill"></div>
							<div class="signal-circle fill"></div>
							<div class="signal-circle fill"></div>
							<div class="signal-circle"></div>
							<div class="signal-circle"></div>
						</div>
					</div>
					<div id="contacts">
						<div class="row">
							<div id="home" class="col-xs-3 contact active">
								<div class="contact-img"><img src="/images/piyenji-logo.png" style="width:40px;"></div>
								<div class="contact-name">Home</div>
							</div>	
							<div id="artist1" class="col-xs-3 contact">
								<div class="contact-img"><img src="/images/digijing-soazn.gif" style="width:40px;"></div>
								<div class="contact-name">Digijing</div>
							</div>	
							<div id="artist2" class="col-xs-3 contact">
								<div class="contact-img"><img src="/images/hehu-banana-a.gif" style="width:40px;"></div>
								<div class="contact-name">He+Hu</div>
							</div>	
							<div id="artist3" class="col-xs-3 contact">
								<div class="contact-img"><img src="/images/james-head.png" style="width:40px;"></div>
								<div class="contact-name">James</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
			
			<div id="artist1-page" class="screen artist-screen" style="padding-top:110px;">
				<div class="artist-page-body">
					<div class="row">
						<div class="col-xs-6"><img src="/images/digijing-haha.gif" height="110px"></div>
						<div class="col-xs-6"><img src="/images/digijing-eyeballs.gif" height="110px"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img src="/images/digijing-facemask.gif" height="110px"></div>
						<div class="col-xs-6"><img src="/images/digijing-soazn.gif" height="110px"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img src="/images/digijing-buddha.gif" height="110px"></div>
						<div class="col-xs-6"><img src="/images/digijing-coin.gif" height="110px"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img src="/images/digijing-money.gif" height="110px"></div>
						<div class="col-xs-6"><img src="/images/digijing-peace.gif" height="110px"></div>
					</div>
				</div>
			</div>
			
			<div id="artist2-page" class="screen artist-screen" style="padding-top:110px;">
				<div class="artist-page-body">
					<div class="row">
						<div class="col-xs-6"><img src="/images/hehu-banana-a.gif" height="110px"></div>
						<div class="col-xs-6"><img src="/images/hehu-banana-b.gif" height="110px"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img src="/images/hehu-chick-cheers.gif" height="110px"></div>
						<div class="col-xs-6"><img src="/images/hehu-chick-lualu.gif" height="110px"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img src="/images/hehu-eat-drum.gif" height="110px"></div>
						<div class="col-xs-6"><img src="/images/hehu-egg-necklace.gif" height="110px"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img src="/images/hehu-lick.gif" height="110px"></div>
						<div class="col-xs-6"><img src="/images/hehu-tango-chick.gif" height="110px"></div>
					</div>
				</div>
			</div>
			
			<div id="artist3-page" class="screen artist-screen" style="padding-top:110px;">
				<div class="artist-page-body">
					<div class="row">
						<div class="col-xs-6"><img src="/images/james-flirty.png" height="110px"></div>
						<div class="col-xs-6"><img src="/images/james-head.png" height="110px"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img src="/images/james-ssh.png" height="110px"></div>
						<div class="col-xs-6"><img src="/images/james-stoned-bae.png" height="110px"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img src="/images/james-surprise.png" height="110px"></div>
						<div class="col-xs-6"><img src="/images/james-hair-1.png" height="110px"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img src="/images/james-hair-2.png" height="110px"></div>
						<div class="col-xs-6"><img src="/images/james-hair-3.png" height="110px"></div>
					</div>
					<div class="row">
						<div class="col-xs-6"><img src="/images/james-hair-4.png" height="110px"></div>
						<div class="col-xs-6"></div>
					</div>
				</div>
			</div>
			
		</div>
		
	</body>
	
	<script src="/js/mousewheel.min.js"></script>
	<script src="/js/index.js"></script>

</html>

