/* --------------------------
   -- PRE-SET ELEMENTS
   -------------------------- */
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  overflow-x: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
}   
.h1, .h2, .h3, .h4 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin: 0px !important;
  font-weight: 300;
}

#master-screen {
  top: calc(50% - 332px);
  position: absolute;
  left: 50%;
  z-index: 100;
}
.screen {
  width: 375px;
  height: 664px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  z-index: 100;
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  overflow-y: hidden;
}

/* Video screen */
#video-footer {
  width: 100%;
  height: 120px;
  background-color: rgba(0,0,0,0.95);
  position: absolute;
  bottom: 0px;
}
#video-phone-info {
  background-color: black;
  height: 24px;
  font-size: 0.8em;
}
#video-time,
#video-signal,
#video-battery{
  width: 100%;
  position: absolute;
  color: white;
}
#video-time { text-align: center; }
#video-battery { text-align: right; }
#video-signal { text-align: left; }

/* Menu screen */

#menu-screen {
  height: 90px;
}
#screen-header{
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 8px);
  margin-left: 4px;
  margin-right: 4px;
  background-color: rgba(240, 240, 240, 0.95);
  font-size: 0.8em;
  height: 90px;
  border-bottom: 1px solid #ccc;
}
#time,
#signal,
#battery{
  width: 100%;
  position: absolute;
}
#time { text-align: center; }
#battery { text-align: right; }
#signal { text-align: left; }
#contacts {
  padding-top: 24px;  
  padding-left: 15%;
  padding-right: 15%;
}
.contact {
  cursor: pointer;
  opacity: .5;
}
.contact.active {
  opacity: 1;
}
.contact-img ,
.contact-name {
  text-align: center;
}

/* artist screen */

.artist-screen {
  background-color: white;
  display: none;
  overflow-y: scroll;
  padding: 15px;
}
.artist-page-body {
  background-color: white;
  text-align: center;
}

/* convo screen */

#convo-screen  {
  padding: 15px;
  background-color: white;
}
#convo {
  position: relative;
}
.bubble-set {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.bubble-container {
  min-height: 40px;  
  width: 100%;
}
.to-container {
  text-align: right;
}
.bubble {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 75%;
  min-width: 40px;
  min-height: 20px;
  display: inline-block;
  margin-bottom: 2px;
}
.tobubble {
  text-align: right;
  background-color:#30A3FC;
  color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.frombubble {
  background-color: #E6E5EB;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.inline-sticker {
  margin-bottom: 2px;
}

/* ---- */
#iphone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1400px;
  z-index: 101;
  pointer-events: none;
}

#video {
  min-width: 180vh;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
#logo {
  z-index: 10;
}
#overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 100vw;
  height: 100vh; /* calc(100vh - 50px); */
  z-index: 10;
}

/* --- Hv logo --- */
#hv-logo {
  z-index: 200;
  position: absolute;
  width: 60px;
  margin: 20px;
  cursor: pointer;
  top: 0;
  right: 0;
}
#hv-logo:hover {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.float{
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating{
  from {transform: translate(calc(-50% - 5px), calc(-50% - 5px));}
  50% {transform: translate(-50%, -50%);}
  to {transform: translate(calc(-50% - 5px), calc(-50% - 5px));}    
}
