body {
  width: 100vw;
}
#iphone, .screen {
  top: 0px;
}
.screen {
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  font-size: inherit;
}
#convo {
  padding-top: 25vw;
}
#menu-screen {
  position: fixed;
  top: 0px;
}
#screen-header{
  width: 100%;
  margin: 0px;
}
  